---
title: Beranda
---
<div style="text-align: center;">
    <h1>ねじくぎのWebサイト ( 工事中 )</h1>
    <p>Welcome to our website!</p>

    <img src="/files/images/icon_by_kokko.jpg" alt="my face drawn by Kokko" style="height: 300px;">
    <div>
        <a href="/contents" style="font-size: xx-large;">Enter</a>
    </div>
</div>
